.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    @media (max-width: 980px) {
        align-items: flex-start;
        height: max-content;
    }

    &-content {
        display: flex;
        gap: 24px;

        @media (max-width: 980px) {
            flex-direction: column;
        }
    }

    &-title {
        font-family: "Unbounded";
        font-size: 48px;

        @media (max-width: 1250px) {
            font-size: 40px;
        }

        @media (max-width: 630px) {
            font-size: 24px;
        }
    }

    &-description {
        font-size: 18px;
        letter-spacing: 1%;
        opacity: 0.7;
    }

    &-button {
        margin-top: 24px;
    }

    &-info {
        max-width: 700px;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &-gif-container {
        width: 450px;
        height: 600px;
        border-radius: 24px;
        overflow: hidden;
        flex-shrink: 0;

        @media (max-width: 1250px) {
            width: 400px;
        }

        @media (max-width: 980px) {
            width: 100%;
            height: 200px;
        }
    }
}