.room {
    background: #000;
    height: 100vh;

    &-id {
        background: rgba(255, 255, 255, 0.137);
        backdrop-filter: blur("20px");
        width: max-content;
        padding: 6px 10px;
        color: white;
        border-radius: 24px;
        font-size: 14px;
        position: absolute;
        left: 50%;
        top: 24px;
        transform: translateX(-50%);
        z-index: 3;
    }

    &-remote-container {
        position: absolute;
        top: 0;
        left: 0;
        background: black;
        width: 100%;
        height: 100%;

        & video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &-local-container {
        position: absolute;
        bottom: 14px;
        right: 14px;
        background: #131313;
        width: 400px;
        height: 400px;
        border-radius: 24px;
        overflow: hidden;

        & video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @media (max-width: 900px) {
            width: 45vw;
            height: 40vh;
        }
    }

    &-controls {
        display: flex;
        gap: 8px;
        padding: 8px;
        border-radius: 18px;
        background: #131313;
        width: max-content;
        height: 60px;
        position: absolute;
        bottom: 14px;
        left: 14px;
    }
}